<h1 id="tableLabel">Mostrar relações dos DDD</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!relation"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="relation">
  <thead>
    <tr>
      <th>Id</th>
      <th>De</th>
      <th>Para</th>
      <th>Preço por minuto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let relation of relation">
      <td>{{relation.id}}</td>
      <td>{{relation.from}}</td>
      <td>{{relation.to}}</td>
      <td>{{relation.pricePerMin}}</td>
    </tr>
  </tbody>
</table>
